<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-dark text-white text-center">Subject</div>
                <div class="card-body">
                    <div class="card">
                        <div class="card-body">
                            Parent Subject Name : {{name}}
                        </div>
                      </div>


                      <div class="card mt-2">
                        <div class="card-body">
                           <app-child1></app-child1>
                        </div>
                      </div>

                </div>
              </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-dark text-white text-center">Behavior Subject ( Default Value Set ) </div>
                <div class="card-body">
                    <div class="card">
                        <div class="card-body">
                            Parent Behavior Subject Name : {{username}}
                        </div>
                      </div>


                      <div class="card mt-2">
                        <div class="card-body">
                           <app-child2></app-child2>
                        </div>
                      </div>

                </div>
              </div>
        </div>
    </div>
</div>



